* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  gap: 50px;
}

h2 {
  color: white;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

p span {
  color: white;
  font-weight: 500;
}

body {
  background-color: #1c1c1d;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: rgb(195, 195, 195);
}
body p {
  line-height: 1.8rem;
}

body::-webkit-scrollbar {
  display: none;
}

section:nth-of-type(even) {
  background-color: #171717;
}
section .content-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section .panel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .panel > img {
  width: 100%;
}
section.full .content-container {
  width: 100%;
  height: 100vh;
}
section.h-split .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
section.gallery .content-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

section.hero img {
  width: 50vw;
}

section.abilities .content-container {
  flex-direction: column;
}
section.abilities article > .grid-container {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "ux   ui    coding" "gd   mg    apps";
}
section.abilities article > .grid-container .ux {
  grid-area: ux;
}
section.abilities article > .grid-container .ui {
  grid-area: ui;
}
section.abilities article > .grid-container .coding {
  grid-area: coding;
}
section.abilities article > .grid-container .gd {
  grid-area: gd;
}
section.abilities article > .grid-container .mg {
  grid-area: mg;
}
section.abilities article > .grid-container .apps {
  grid-area: apps;
}
section.abilities article > .grid-container .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.abilities article > .grid-container .apps > .grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
section.abilities .box {
  width: 50px;
  height: 50px;
  background: grey;
}

.panel .beam {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1250px) {
  section.hero img {
    width: 92vw;
  }
  section.h-split .content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.button {
  background-color: rgb(194, 194, 194);
  color: #2F2E30;
  height: 36px;
  display: grid;
  place-items: center;
  padding-inline: 30px;
  border-radius: 8px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all ease-out;
}

.button:hover {
  background-color: #f65d99;
  color: white;
}/*# sourceMappingURL=main.css.map */