@use "../abstracts/colors" as cols;
@use "../abstracts/typography" as type;

.button {
   background-color: transparent;
   color: cols.$white;
   border: 1px solid cols.$white;
   height: 36px;
   display: grid;
   place-items: center;
   padding-inline: 30px;
   border-radius: 50px;
   border-radius: 0;
   max-width: max-content;
   font-weight: bold;
   user-select: none;
   cursor: pointer;
   font-size: type.$fontsize-body;
   transition: 0.3s all ease-out;
}
.button:hover {
   border: 1px solid cols.$primary-v2;
   background-color: cols.$primary-v2;
}
