
$base-gap: 16px;
// desktop
$screen-margin-desktop: 100px;
$gap-column-desktop: 16px;
$gap-row-desktop: 16px;

// tablet
$screen-margin-tablet: 16px;
$gap-column-tablet: 16px;
$gap-row-desktop: 16px;

// mobile
$screen-margin-mobile: 10px;
$gap-column-mobile: 10px;
$gap-row-mobile: 16px;

$gap-break: 36px;

$nav-icon-spacing: 20px;