@use "../abstracts/debug" as db;
@use "../abstracts/colors" as cols;
@use "../abstracts/gapsets" as gaps;
@use "../abstracts/variables" as vars;
@use "../abstracts/effects" as fx;
@use "../abstracts/mixins" as mx;
@use "../abstracts//mediaqueries" as mq;

header {
   height: 75px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   display: flex;
   justify-content: space-between;
   
}
