/* defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
  color: white;
  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
}
.section {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  width: 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.6s;
}
.button:hover {
  color: springgreen;
  border: springgreen 1px solid;
}

.breakline {
  width: 800px;
  height: 3px;
  background-color: white;
  margin: 20px 0px;
}
@media only screen and (max-width: 1110px) {
  .breakline {
    width: 50%;
    height: 3px;
    background-color: white;
    margin: 20px 0px;
  }
}
/* header bar */
.headerbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.headerbar nav {
  padding: 30px 100px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.headerbar nav a {
  font-family: "Special Elite", cursive;
  text-decoration: none;
  color: white;
  transition: all 0.6s;
  font-size: 1.2em;
}
.headerbar nav a:hover {
  color: springgreen;
}
h2 {
  font-size: 1.1em;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .headerbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  .headerbar nav {
    padding: 30px 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
  }
}

/* homepage - section 1 */

#homepage-section1 {
  width: 100%;
  height: max-content;
  position: relative;
}
#homepage-section1 .imagecontainer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

#homepage-section1 .imagecontainer .splash {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#homepage-section1 .imagecontainer .logo {
  position: absolute;
  width: 50%;
  align-self: center;
}
#homepage-section1 h2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "Special Elite", cursive;
  margin: 20px 100px;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: 100;
}

/* album */
#album {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin: 20px 0;
}

#album img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
#album div {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}
#album div h2 {
    margin-bottom: 20px;
    font-family: "Special Elite", cursive;
  }
#album img,
#album div {
  margin: 100px 20px;
}
#album div p {
  border: white 1px solid;
  padding: 100px;
  font-weight: 400;
}
@media only screen and (max-width: 1110px) {
  #album {
    flex-direction: column;
  }
  #album img,
  #album div {
    margin: 0;
  }
}
/* homepage - section 2 */
#homepage-section2 {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(31, 44, 46);
}
#homepage-section2 h2 {
  font-family: "Special Elite", cursive;
}
#homepage-section2 .breakline {
  margin-bottom: 50px;
}
#homepage-section2 .grid {
  margin: 10px 20px;
  width: 800px;
  border: white solid 1px;
}
#homepage-section2 .grid .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.date,
.venue {
  display: flex;
  border: white 1.5px solid;
  margin: 10px;
  padding: 15px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.row .button {
  display: flex;
  border: white 1.5px solid;
  margin: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}

#homepage-section2 .grid .row .date .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#homepage-section2 .grid .row .date .container p {
  padding: 0;
  margin: -2px;
}
.month {
  font-size: 1.3em;
}
.day {
  font-size: 2em;
}
.year {
  font-size: 0.8em;
}
.accent {
  width: 100%;
  height: 8px;
  background: crimson;
  position: absolute;
  top: 0;
  left: 0;
}
#homepage-section2 .grid .row .date {
  width: 80px;
}
#homepage-section2 .grid .row .venue {
  width: 500px;
  font-size: 1.2em;
}

@media only screen and (max-width: 779px) {
  #homepage-section2 .grid {
    width: 100%;
  }
}

/* section 3 */
#homepage-section3 {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(39, 53, 54);
}
#homepage-section3 .cardcontainer,
#homepage-section3 .button {
  margin: 50px 0;
}
#homepage-section3 .cardcontainer {
  width: 80%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
#homepage-section3 .cardcontainer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
#homepage-section3 .cardcontainer .card img {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 250px;
}

#homepage-section3 .cardcontainer .card img,
#homepage-section3 .cardcontainer .card .button,
#homepage-section3 .cardcontainer .card h2 {
  margin: 10px 0;
}
@media only screen and (max-width: 779px) {
  #homepage-section3 .cardcontainer {
    justify-content: center;
  }
}
/* footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
.footernavbar {
  padding: 20px;
}
#footer .footernavbar nav a {
  text-decoration: none;
  color: #f1f1f1;
  margin: 0 20px;
  font-size: 0.8em;
  transition: all 0.6s;
}

#footer .footernavbar nav a:hover {
  color: springgreen;
}
#footer .socialmedialinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#footer .socialmedialinks a {
  padding: 0;
  margin: 0 10px;
  transition: all 0.6s;
  opacity: 50%;
}
#footer .socialmedialinks a:hover {
  opacity: 100%;
}
#footer .socialmedialinks img {
  height: 20px;
}
.bottomsection {
  display: flex;
}
.bottomsection * {
  margin: 30px;
  color: white;
  font-size: 0.8em;
  opacity: 50%;
  transition: all 0.6s;
  text-decoration: none;
}
.bottomsection a:hover {
  opacity: 100%;
}
.bottomsection P {
  display: inline;
}
