$black: #1b1b1b;
$white: #ffffff;

$grey-1: #f2f2f2;
$grey-2: #a4a4a4;
$grey-3: #707070;
$grey-4: #4b4b4b;
$grey-5: #444444;

$orange-1: #ffd2c8;
$orange-2: #f1836a;
$orange-3: #f24405;

$blue-1: #5d698f;
$blue-2: #030f59;

$shadow-colour: rgb(103, 76, 70, 0.49);

// gradients
@mixin gradient-1 {
   background: linear-gradient(45deg, #497385, #d2ec9d);
}
@mixin gradient-2 {
   background: linear-gradient(45deg, #4e5d77, #b585af);
}
@mixin gradient-3 {
   background: linear-gradient(45deg, #917c5a, #fff3e2);
}
@mixin gradient-4 {
   background: linear-gradient(45deg, #cdd3e5, #ffffff);
}
@mixin gradient-5 {
    background: linear-gradient(45deg, rgb(234, 106, 59), $orange-2);
 }
 @mixin gradient-6 {
   background: linear-gradient(45deg, rgb(111, 0, 255), orange);
}

// main
$primary-orange: $orange-2;
$primary-blue: $blue-1;
$primary-grey: $grey-4;
$primary-black: $black;
$primary-white: $white;
