@mixin font-roboto {
   font-family: "Roboto", sans-serif;
}
@mixin font-cutive-mono {
   font-family: "Cutive Mono", monospace;
}
@mixin font-raleway {
   font-family: "Raleway", sans-serif;
}

$fontsize-body: 16px;
$fontsize-sub: 14px;
$fontsize-small-header: 20px;
$fontsize-medium-header: 28px;
$fontsize-large-header: 38px;
$fontsize-max-header: 70px;

